/* font-family: 'Electrolize', sans-serif;
font-family: 'Work Sans', sans-serif; */

* {
      font-family: 'Montserrat', sans-serif;
}

h1, h2, .h1,.h2,::placeholder {
      font-family: 'Petit Formal Script', cursive;
}

.logo {
      font-size: 30px ;
      font-weight: bolder;
      padding-left: 25px;
      color: #ffff;
}

.logo-sub {
      font-size: 13px;
      position: relative;
      left: 120px;
      padding: 0px;
      margin-top: -10px;
      font-weight: bolder;
      color: #b5d3ca;
} 

.bg-yellow {
      background-color: rgb(250,200,70);
}

.bg-yellow:hover {
      background-color: #b5d3ca;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3)!important;
}

.white {
      color: #ffff;
}

.verde {
      color: #b5d3ca;
}

#navbar {
      z-index: 9999;
      transition: 1S;
}

.header {
      height: 100vh;
      min-height: 500px;
      background: no-repeat url("./media/ice.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;      
}

.text-shadow {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.over-box {
      position: relative;
      overflow: hidden;
      transition: 1s; 
}

.over-img {
      transition: 1s;
}

.over-box:hover {
      transform: scale(1.1);
}

.over-text {
      position: absolute;
      padding: 20px 40px;
      transition: 1s;
      z-index: 1;
}

.over-box::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      transition: 1s;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0.3);
}

.over-box:hover::after {
      opacity: 1;
}

.bg-section-cta {
      height: 400px;
      background: url('./media/pink-wallpaper.jpg');
      background-size: cover;
      background-position: center;
}

.product-label {
      position: relative;
      top: 50px;
      left: 0px;
      padding-left: 10px;
      width: 120px;
      padding-top: 8px;
      padding-bottom: 8px;
      z-index: 99;
      background-color: #d0ecf0;
}

.wrapper {
      overflow: hidden;
} 

.wrapper .img-fluid {
      transition: 0.4s;
}

.wrapper .img-fluid:hover {
      transform: scale(1.1);
}

.bg-section-cta-2 {
      height: 600px;
      background: linear-gradient(white, transparent,white), url('./media/coni-2.jpg');
      background-size: cover;
      background-position: center;
}

.w-200 {
      width: 200px;
}

.bg-section-timer {
      height: 500px;
      background: linear-gradient(white , transparent ,white ), url('./media/cono.jpg');
      background-size: cover, cover;
      background-position: center, center;
      /* background-attachment: fixed; */
}

.border-bottom-yellow {
      border: none !important;
      border-radius: 0px;
      border-bottom: 4px solid rgb(250,200,70) !important;
}

.bg-footer {
      background-color: #d0ecf0;
}

.hr {
      width: 120px;
      /* height: 2px;  uso il padding poichè l'altezza non se la prende*/
      background-color: darkgreen;
      padding: 2px;
}

.form-check-input:checked {
      background-color: rgb(250,200,70);
      border-color: rgb(250,200,70);
  }

  .form-check-input {
      border: 2px solid rgb(250,200,70);
  }